*{
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;;
}

.jumbotron {
    background-color: #F6F6EE;
    border-radius: .25rem;

}

.nav {
    /* background-color: #FF6601; */
    background-color: #023e8a;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

ul.nav {
    height: 35px;
}
.nav-link {
    color: white;
    font-family: 'Artifakt',sans-serif;
    font-size: smaller;
}

ul.nav a:hover {
    color:#caf0f8 !important;
}

.card {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    background-color: #F6F6EE;
}

p {
    padding: 5px;
}
.cat {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cat_ninja {
    margin: auto;
}