*{
    margin: 0px;
    padding: 0px;
}

.card {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
p {
    padding: 5px;
}
.cat {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cat_ninja {
    margin: auto;
    background-color: aqua;
}