*{
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
}

.jumbotron {
    background-color: #F6F6EE;
}

.nav {
    background-color: #FF6601;
}

ul.nav {
    height: 35px;
}
.nav-link {
    color: black;
    text-size-adjust: auto;
    font-size: smaller;
}

ul.nav a:hover {
    color: white !important;
}

.card {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    background-color: #F6F6EE;
}

p {
    padding: 5px;
}
.cat {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cat_ninja {
    margin: auto;
}